* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}



.main-page .text-wrapper-27 {
  width: 6.77vw;
  height: 2.52vh;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #03357c;
  font-size: 1.25vw;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}


.main-page .text-wrapper-26 {
  width: 5.21vw;
  height: 2.85vh;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #03357c;
  font-size: 1.25vw;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main-page .text-wrapper-25 {
  width: 5.42vw;
  height: 2.52vh;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #03357c;
  font-size: 1.25vw;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main-page .text-wrapper-24 {
  width: 3.8vw;
  height: 2.52vh;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #03357c;
  font-size: 1.25vw;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main-page .text-wrapper-23 {
  width: 3.59vw;
  height: 2.52vh;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #03357c;
  font-size: 1.25vw;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main-page .navbar {
  margin-top: 2.09vh;
  width: 29.48vw;
  display: flex;
  gap: 1.04vw;
}

.main-page .header-logo {
  width: 11.24vw;
  height: 7.35vh;
  margin-left: 1.15vw;
}

.main-page .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 7.35vh;
  display: flex;
  gap: 45.28vw;
  background-color: #ffffff;
  box-shadow: 0px 0.44vh 0.44vh #00000040;
  z-index: 1000;
}

.main-page .mail-send-envelope {
  position: absolute;
  top: 2.2vh;
  left: 11.15vw;
  width: 1.46vw;
  height: 3.07vh;
  aspect-ratio: 1;
  pointer-events: none;
}

.main-page .text-wrapper-22 {
  position: absolute;
  top: 2.09vh;
  left: 3.75vw;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 1.25vw;
  letter-spacing: 0;
  line-height: normal;
  pointer-events: none;
}

.main-page .contact-button-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 16.41vw;
  height: 7.35vh;
  background-color: #03357c;
  border-radius: 0.26vw;
}

.main-page .contact-button {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  top: 68.5vh;
  left: 69.79vw;
  width: 16.51vw;
  height: 7.35vh;
}

.main-page .creative-design-and {
  position: absolute;
  top: 31.94vh;
  left: 64.01vw;
  width: 28.02vw;
  height: 29.75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #03357c;
  font-size: 1.25vw;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.main-page .hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.main-page .home-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100.1vw;
  height: 100vh;
  z-index: 1;
}

.main-page .text-wrapper-21 {
  width: 33.28vw;
  height: 59.28vh;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 1.25vw;
  letter-spacing: 0;
  line-height: 3.95vh;
}

.main-page .about-block-right {
  margin-top: 12.62vh;
  width: 33.39vw;
  display: flex;
}

.main-page .etqgwouuaaycyc {
  width: 33.28vw;
  height: 39.52vh;
  aspect-ratio: 1.78;
  object-fit: cover;
}

.main-page .text-wrapper-20 {
  width: 33.28vw;
  height: 19.87vh;
  margin-top: 0.77vh;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 1.25vw;
  letter-spacing: 0;
  line-height: 3.95vh;
}

.main-page .text-wrapper-19 {
  width: 9.74vw;
  height: 6.37vh;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffcc00;
  font-size: 2.08vw;
  letter-spacing: 0;
  line-height: 6.59vh;
  white-space: nowrap;
}

.main-page .about-block-left {
  margin-top: 5.38vh;
  width: 33.49vw;
  height: 66.52vh;
  margin-left: 13.75vw;
  display: flex;
  flex-direction: column;
}

.main-page .about-section {
  position: absolute;
  top: 100vh;
  left: 0;
  width: 100vw;
  height: 81.23vh;
  display: flex;
  gap: 5.73vw;
  background-color: #03357c;
  z-index: 2;
}

.main-page .services-column-2 {
  left: 67.76vw;
  position: absolute;
  top: 3.29vh;
  width: 21.35vw;
  height: 78.16vh;
}

.main-page .services-column {
  left: 39.43vw;
  position: absolute;
  top: 3.29vh;
  width: 21.35vw;
  height: 78.16vh;
}

.main-page .group {
  position: absolute;
  width: 24.39%;
  height: 14.04%;
  top: 0;
  left: 36.59%;
  aspect-ratio: 1;
}

.main-page .text-wrapper-18 {
  position: absolute;
  top: 12.84vh;
  left: 0;
  width: 21.15vw;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #03357c;
  font-size: 2.08vw;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main-page .text-wrapper-17 {
  position: absolute;
  top: 19.32vh;
  left: 0;
  width: 21.15vw;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #1e1e1e;
  font-size: 1.25vw;
  letter-spacing: 0;
  line-height: 3.95vh;
}

.main-page .services-column-left {
  left: 11.09vw;
  position: absolute;
  top: 3.29vh;
  width: 21.35vw;
  height: 78.16vh;
}

.main-page .services-background {
  top: 0;
  height: 81.21vh;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(246, 246, 246, 1) 100%
  );
  position: absolute;
  left: 0;
  width: 100vw;
}

.main-page .services-section {
  top: 181.23vh;
  height: 81.43vh;
  position: absolute;
  left: 0;
  width: 100vw;
  z-index: 3;
}

.main-page .image {
  position: absolute;
  top: 16.25vh;
  left: 4.95vw;
  width: 4.64vw;
  height: 3.29vh;
  aspect-ratio: 2.96;
  object-fit: cover;
}

.main-page .text-wrapper-16 {
  position: absolute;
  top: 12.73vh;
  left: 0.73vw;
  width: 13.13vw;
  height: 3.07vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #ffcc00;
  font-size: 0.83vw;
  text-align: center;
  letter-spacing: 0;
  line-height: 2.63vh;
  white-space: nowrap;
}

.main-page .text-wrapper-15 {
  position: absolute;
  top: 0;
  left: 0;
  width: 14.58vw;
  height: 7.03vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #03357c;
  font-size: 2.08vw;
  text-align: center;
  letter-spacing: 0;
  line-height: 6.59vh;
  white-space: nowrap;
}

.main-page .frame {
  position: absolute;
  top: 6.91vh;
  left: 0.94vw;
  width: 12.71vw;
  height: 5.27vh;
}

.main-page .reviews-summary {
  position: absolute;
  top: 0.99vh;
  left: 42.71vw;
  width: 14.79vw;
  height: 19.54vh;
}

.main-page .ellipse-3 {
  background-color: #bf360c;
  position: absolute;
  top: 0;
  left: 0;
  width: 2.6vw;
  height: 5.49vh;
  border-radius: 1.3vw;
}

.main-page .reviewer-info-3 {
  top: 1.43vh;
  position: absolute;
  left: 0.73vw;
  width: 21.56vw;
  height: 5.93vh;
}

.main-page .rating-stars-3 {
  top: 8.67vh;
  position: absolute;
  left: 0.73vw;
  width: 7.03vw;
  height: 2.74vh;
}

.main-page .text-wrapper-14 {
  position: absolute;
  top: 12.4vh;
  left: 0.73vw;
  width: 21.88vw;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 0.78vw;
  letter-spacing: 0;
  line-height: 2.47vh;
}

.main-page .review-left {
  top: 25.14vh;
  left: 13.02vw;
  position: absolute;
  width: 23.44vw;
  height: 34.8vh;
}

.main-page .ellipse-2 {
  background-color: #7b1fa2;
  position: absolute;
  top: 0;
  left: 0;
  width: 2.6vw;
  height: 5.49vh;
  border-radius: 1.3vw;
}

.main-page .google-logo-2 {
  position: absolute;
  top: 1.1vh;
  left: 19.79vw;
  width: 1.56vw;
  height: 3.29vh;
}

.main-page .reviewer-info-2 {
  top: 1.65vh;
  position: absolute;
  left: 0.73vw;
  width: 21.56vw;
  height: 5.93vh;
}

.main-page .rating-stars-2 {
  top: 9.33vh;
  position: absolute;
  left: 0.73vw;
  width: 7.03vw;
  height: 2.74vh;
}

.main-page .text-wrapper-13 {
  position: absolute;
  top: 13.28vh;
  left: 0.73vw;
  width: 21.88vw;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 0.78vw;
  letter-spacing: 0;
  line-height: 2.47vh;
}

.main-page .review-middle {
  top: 24.7vh;
  left: 38.33vw;
  position: absolute;
  width: 23.44vw;
  height: 34.8vh;
}

.main-page .text-wrapper-12 {
  position: absolute;
  top: 0.77vh;
  left: 0.83vw;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 1.25vw;
  letter-spacing: 0;
  line-height: 3.95vh;
  white-space: nowrap;
}

.main-page .ellipse {
  background-color: #ec407a;
  position: absolute;
  top: 0;
  left: 0;
  width: 2.6vw;
  height: 5.49vh;
  border-radius: 1.3vw;
}

.main-page .profile-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 2.71vw;
  height: 5.49vh;
}

.main-page .text-wrapper-11 {
  position: absolute;
  top: 1.1vh;
  left: 3.49vw;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 1.04vw;
  letter-spacing: 0;
  line-height: 3.29vh;
  white-space: nowrap;
}

.main-page .text-wrapper-10 {
  position: absolute;
  top: 4.28vh;
  left: 3.54vw;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 0.52vw;
  letter-spacing: 0;
  line-height: 1.65vh;
  white-space: nowrap;
}

.main-page .google-logo {
  position: absolute;
  width: 1.41vw;
  height: 2.96vh;
  top: 1.43vh;
  left: 19.79vw;
}

.main-page .reviewer-info {
  position: absolute;
  top: 1.54vh;
  left: 0.73vw;
  width: 21.41vw;
  height: 5.93vh;
}

.main-page .rating-stars {
  position: absolute;
  top: 9.55vh;
  left: 0.73vw;
  width: 7.03vw;
  height: 2.74vh;
}

.main-page .p {
  position: absolute;
  top: 13.17vh;
  left: 0.73vw;
  width: 21.88vw;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 0.78vw;
  letter-spacing: 0;
  line-height: 2.47vh;
}

.main-page .review-card-BG {
  position: absolute;
  top: 0;
  left: 0;
  width: 23.33vw;
  height: 34.8vh;
  background-color: #f6f6f6;
  border-radius: 0.26vw;
}

.main-page .review-right {
  top: 24.81vh;
  left: 63.8vw;
  position: absolute;
  width: 23.44vw;
  height: 34.8vh;
}

.main-page .reviews-section {
  position: absolute;
  top: 262.35vh;
  left: 0;
  width: 100vw;
  height: 96.82vh;
  z-index: 4;
}

.main-page .submit-button:active {
  background-color: #022d5f;
}

.main-page .submit-button:hover {
  background-color: #024a9e;
}

.main-page .submit-button {
  grid-area: submit;
  width: 23.39vw;
  height: 6.69vh;
  background-color: #03357c;
  border-radius: 0.26vw;
  border: none;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 1.04vw;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  cursor: pointer;
  justify-self: center;
  transition: background-color 0.3s ease;
}

.main-page .message-input {
  height: 92.8%;
  resize: vertical;
  min-height: 20vh;
  font-family: "Inter", Helvetica;
}

.main-page .phone-input {
  height: 5.82vh;
}
.main-page .email-input,
.main-page .company-input,
.main-page .name-input,

.main-page .form-input:focus {
  outline: none;
  border-color: #ffcc00;
  box-shadow: 0 0 0 0.1vw rgba(255, 204, 0, 0.3);
}

.main-page .form-input::placeholder {
  color: #aaaaaa;
}

.main-page .form-input {
  width: 100%;
  background-color: #ffffff;
  border-radius: 0.26vw;
  border: 0.21vw solid #03357c;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 1.04vw;
  letter-spacing: 0;
  line-height: normal;
  padding: 1.1vh 1.04vw;
  box-sizing: border-box;
}

.main-page .form-field.message-field {
  grid-area: message;
}

.main-page .form-field:nth-child(4) {
  grid-area: phone;
}

.main-page .form-field:nth-child(3) {
  grid-area: email;
}

.main-page .form-field:nth-child(2) {
  grid-area: company;
}

.main-page .form-field:nth-child(1) {
  grid-area: name;
}

.main-page .form-field {
  display: flex;
  flex-direction: column;
  gap: 0.55vh;
}

.main-page .contact-form {
  position: absolute;
  top: 4.39vh;
  left: 25.63vw;
  width: 47.97vw;
  height: 40.51vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.1vw 1.56vw;
  grid-template-areas:
    "name message"
    "company message"
    "email message"
    "phone message"
    ". message"
    "submit submit";
}

.main-page .text-wrapper-9 {
  top: 4.39vh;
  left: 2.19vw;
  width: 20.05vw;
  font-weight: 700;
  color: #03357c;
  font-size: 2.08vw;
  line-height: 6.59vh;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
}

.main-page .tulpenlaan {
  width: 20.05vw;
  height: 9.55vh;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #03357c;
  font-size: 1.25vw;
  letter-spacing: 0;
  line-height: normal;
}

.main-page .contact-adress-info {
  position: absolute;
  top: 12.51vh;
  left: 2.19vw;
  width: 22.34vw;
  height: 9.55vh;
  display: flex;
  gap: 0.68vw;
}

.main-page .contact-phone-number {
  position: absolute;
  top: 26.45vh;
  left: 2.19vw;
  width: 22.34vw;
  height: 3.18vh;
  display: flex;
  gap: 0.68vw;
}

.main-page .text-wrapper-8 {
  width: 20.05vw;
  height: 3.18vh;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #03357c;
  font-size: 1.25vw;
  letter-spacing: 0;
  line-height: normal;
}

.main-page .img-3 {
  width: 1.51vw;
  height: 3.18vh;
  aspect-ratio: 1;
}

.main-page .contact-email-info {
  position: absolute;
  top: 34.02vh;
  left: 2.19vw;
  width: 22.34vw;
  height: 3.18vh;
  display: flex;
  gap: 0.68vw;
}

.main-page .contact-info-BG {
  position: absolute;
  top: 0;
  left: 0;
  width: 24.43vw;
  height: 48.08vh;
  background-color: #ffcc00;
  border-radius: 0.26vw 0px 0px 0.26vw;
}

.main-page .contact-form-BG {
  position: absolute;
  top: 0;
  left: 24.43vw;
  width: 50.63vw;
  height: 48.08vh;
  background-color: #f6f6f6;
  border-radius: 0px 0.26vw 0.26vw 0px;
}

.main-page .contact-section {
  position: absolute;
  top: 346.76vh;
  left: 12.86vw;
  width: 75.16vw;
  height: 48.08vh;
  z-index: 6;
}

.main-page .end-text-logo {
  position: absolute;
  width: 29.01%;
  height: 100%;
  top: 0;
  left: 0;
}

.main-page .digiworks-delivers {
  position: absolute;
  top: 0;
  left: 11.04vw;
  width: 22.6vw;
  height: 20.64vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 1.25vw;
  letter-spacing: 0;
  line-height: 3.95vh;
}

.main-page .footer-end-text {
  position: absolute;
  top: 45.23vh;
  left: 12.86vw;
  width: 33.75vw;
  height: 20.64vh;
}

.main-page .text-wrapper-7 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10.42vw;
  height: 4.17vh;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 1.04vw;
  letter-spacing: 0;
  line-height: normal;
}

.main-page .text-wrapper-6 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10.42vw;
  height: 4.17vh;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffcc00;
  font-size: 1.04vw;
  letter-spacing: 0;
  line-height: normal;
}

.main-page .footer-website {
  position: absolute;
  top: 38.42vh;
  left: 62.92vw;
  width: 11.04vw;
  height: 34.91vh;
  display: flex;
  flex-direction: column;
  gap: 1.98vh;
}

.main-page .text-wrapper-5 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16.51vw;
  height: 4.17vh;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 1.04vw;
  letter-spacing: 0;
  line-height: normal;
}

.main-page .footer-mail-info {
  width: 18.59vw;
  display: flex;
  gap: 0.47vw;
}

.main-page .text-wrapper-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9.69vw;
  height: 4.17vh;
  font-weight: 600;
  color: #ffffff;
  font-size: 1.04vw;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.main-page .img-2 {
  margin-top: 0.44vh;
  width: 1.51vw;
  height: 3.18vh;
  aspect-ratio: 1;
}

.main-page .footer-phone-info {
  width: 11.77vw;
  display: flex;
  gap: 0.47vw;
}

.main-page .text-wrapper-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12.76vw;
  height: 4.17vh;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 1.04vw;
  letter-spacing: 0;
  line-height: normal;
}

.main-page .home-fill {
  width: 1.51vw;
  height: 3.18vh;
}

.main-page .footer-adress-info {
  width: 14.84vw;
  display: flex;
  gap: 0.47vw;
}

.main-page .text-wrapper-2 {
  display: flex;
  align-items: left;
  justify-content: left;
  width: 11.67vw;
  height: 4.17vh;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffcc00;
  font-size: 1.04vw;
  letter-spacing: 0;
  line-height: normal;
}

.main-page .footer-contact-info {
  position: absolute;
  top: 38.42vh;
  left: 76.25vw;
  width: 18.59vw;
  height: 22.61vh;
  display: flex;
  flex-direction: column;
  gap: 1.98vh;
}



.main-page .social-link-3 {
  position: absolute;
  width: 16.81%;
  height: 40.43%;
  top: 59.57%;
  left: 0;
  aspect-ratio: 1;
}

.main-page .social-link-2 {
  left: 20.35%;
  position: absolute;
  width: 16.81%;
  height: 40.43%;
  top: 59.57%;
  aspect-ratio: 1;
}

.main-page .img {
  left: 40.71%;
  position: absolute;
  width: 16.81%;
  height: 40.43%;
  top: 59.57%;
  aspect-ratio: 1;
}

.main-page .social-link {
  left: 61.06%;
  position: absolute;
  width: 16.81%;
  height: 40.43%;
  top: 59.57%;
  aspect-ratio: 1;
}

.main-page .footer-social-links {
  position: absolute;
  top: 63.01vh;
  left: 76.25vw;
  width: 11.77vw;
  height: 10.32vh;
}

.main-page .text-wrapper {
  position: absolute;
  top: 79.36vh;
  left: 4.11vw;
  width: 89.27vw;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 1.04vw;
  letter-spacing: 0;
  line-height: normal;
}

.main-page .rectangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 84.19vh;
  background-color: #03357c;
}

.main-page .footer-section {
  position: absolute;
  top: 359.28vh;
  left: 0;
  width: 100.1vw;
  height: 84.19vh;
  z-index: 5;
}

.main-page {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  min-width: 100vw;
  min-height: 443.47vh;
  position: relative;
}
